<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.questionnaire.ssm.module.researchManage.mapper.ResearchMissionMapper">
    <select id="listReadyLaunchQesInfoByUserTel" parameterType="String"
            resultType="com.questionnaire.ssm.module.researchManage.pojo.QuestionnaireInfoVO">
        SELECT
			questionnaire_id AS qesId,
			questionnaire_title AS qesTitle,
			create_time AS createDate,
			CASE is_template
				WHEN TRUE THEN
					'模板'
				WHEN FALSE THEN
					'问卷'
				END  AS isTemplate
		FROM
			questionnaire
		WHERE
			create_user = #{userTel}
		AND is_done = TRUE
		AND is_visible = TRUE
		AND is_release = FALSE
</select>
    <select id="listMission" resultType="com.questionnaire.ssm.module.researchManage.pojo.ListMissionVO">
		SELECT
		ma.mission_id AS missionId,
		q.questionnaire_id AS questionnaireId,
		q.questionnaire_title AS questionnaireTitle,
		ma.min_submit_count AS minSubmitCount,
		DATE_FORMAT(
        m.mission_start_date,
        '%Y-%m-%d %H:%i:%s'
        ) AS missionStartDate,
        DATE_FORMAT(
        m.mission_final_date,
        '%Y-%m-%d %H:%i:%s'
        ) AS missionFinalDate,
		m.create_user AS createUser
        FROM
        questionnaire AS q,
        mapping_mission_questionnaire AS ma,
        mission AS m
        WHERE q.questionnaire_id=ma.questionnaire_id AND m.mission_id=ma.mission_id
        ORDER BY ma.mission_id
	</select>
</mapper>