<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.questionnaire.ssm.module.questionnaireManage.mapper.QesManageMapper">

    <select id="listQuestionnaireInfoByUserTel" parameterType="String"
            resultType="com.questionnaire.ssm.module.questionnaireManage.pojo.ListQuestionnaireVO">
        SELECT
        q.questionnaire_id AS questionnaireId,
        q.questionnaire_title AS questionnaireTitle,
        q.questionnaire_subtitle AS questionnaireSubtitle,
        q.questionnaire_description AS questionnaireDescription,
        DATE_FORMAT(q.create_time,'%Y-%m-%d %H:%i:%s') AS questionnaireCreateDate,
        q.is_template AS isTemplate,
        q.is_share AS isShare,
        q.is_done AS isDone
        FROM
        questionnaire AS q
        <where>
            <if test="userTel!=null and userTel!=''">
                AND q.create_user = #{userTel}
            </if>
            AND q.is_template = FALSE
            AND q.is_visible = TRUE
            AND q.is_delete = FALSE
        </where>
    </select>


    <select id="listTempDelQesPaperByUserTel" parameterType="String"
            resultType="com.questionnaire.ssm.module.questionnaireManage.pojo.ListTempDelQesPaperVO">
        SELECT
            q.questionnaire_id AS questionnaireId,
            q.questionnaire_title AS questionnaireTitle,
            q.questionnaire_subtitle AS questionnaireSubtitle,
            q.questionnaire_description AS questionnaireDescription
        FROM
            questionnaire AS q
        WHERE
            q.create_user = #{userTel}
        AND q.is_template = FALSE
        AND q.is_share = FALSE
        AND q.is_visible = FALSE
        AND q.is_done =TRUE
        AND q.is_delete = FALSE
    </select>
</mapper>