<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.questionnaire.ssm.module.questionnaireManage.mapper.QesManageMapper">

    <resultMap id="listQuestionnaireVOMap"
               type="com.questionnaire.ssm.module.questionnaireManage.pojo.ListQuestionnaireVO">
        <id column="questionnaire_id" property="questionnaireId"/>
        <result column="questionnaire_title" property="questionnaireTitle"/>
        <result column="questionnaire_subtitle" property="questionnaireSubtitle"/>
        <result column="questionnaire_description" property="questionnaireDescription"/>
        <result column="is_template" property="isTemplate"/>
        <result column="is_share" property="isShare"/>
        <result column="is_done" property="isDone"/>
    </resultMap>

    <select id="listQuestionnaireInfoByUserTel" parameterType="String"
            resultMap="listQuestionnaireVOMap">
        SELECT
        DISTINCT
        q.questionnaire_id AS questionnaire_id,
        q.questionnaire_title AS questionnaire_title,
        q.questionnaire_subtitle AS questionnaire_subtitle,
        q.questionnaire_description AS questionnaire_description,
        q.is_template AS is_template,
        q.is_share AS is_share,
        /*是否完成状态*/
        q.is_done AS is_done
        -- roq.operate_date AS operate_date//可以添加创建修改时间？
        FROM
        record_operate_questionnaire AS roq
        JOIN questionnaire AS q
        <where>
            <if test="userTel!=null and userTel!=''">
                AND roq.user_tel = #{userTel}
            </if>
            AND q.questionnaire_id = roq.questionnaire_id
            AND q.is_template = FALSE
            -- AND q.is_share = FALSE
            AND q.is_visible = TRUE
            AND q.is_delete = FALSE
        </where>
    </select>

</mapper>

        <!--SELECT-->
        <!--q.questionnaire_id AS questionnaire_id,-->
        <!--q.questionnaire_title AS questionnaire_title,-->
        <!--q.questionnaire_subtitle AS questionnaire_subtitle,-->
        <!--q.questionnaire_description AS questionnaire_description,-->
        <!--q.is_template AS is_template,-->
        <!--q.is_share AS is_share,-->
        <!--q.is_done AS is_done-->
        <!--FROM `user` u ,record_operate_questionnaire roq,questionnaire q-->
        <!--<where>-->
        <!--<if test="userTel!=null and userTel!=''">-->
        <!--AND u.user_tel = #{userTel}-->
        <!--</if>-->
        <!--AND u.user_tel = roq.user_tel-->
        <!--AND roq.questionnaire_id = q.questionnaire_id-->
        <!--AND q.is_visible = TRUE-->
        <!--AND q.is_delete = FALSE-->
        <!--</where>-->
        <!--GROUP BY-->
        <!--u.user_tel,-->
        <!--q.questionnaire_id,-->
        <!--q.questionnaire_title,-->
        <!--q.questionnaire_subtitle,-->
        <!--q.questionnaire_description,-->
        <!--q.is_template,-->
        <!--q.is_share,-->
        <!--q.is_done-->