<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>模板信息--公共</title>
    <link rel="shortcut icon" href="../../img/favicon.ico"/>
    <link href="../../css/bootstrap.min.css" rel="stylesheet"/>
    <link rel="stylesheet" href="../../js/CreateQesResources/skin/dropZone/basic.min.css"/>
    <link rel="stylesheet" href="../../js/CreateQesResources/skin/dropZone/dropzone.min.css"/>
    <style>
        .print-btn {
            position: fixed;
            top: 30%;
            right: 3%;
            z-index: 100;
        }

        .dropzone {
            min-height: 156px;
            background: white;
            border: none;
        }

        .print-btn {
            position: fixed;
            top: 30%;
            right: 3%;
            z-index: 100;
        }
    </style>
</head>
<body>
<div class="container">
    <!--标题信息-->
    <div class="panel panel-primary">
        <div class="panel-heading">
            <div class="panel-title">
                模板浏览
            </div>
        </div>
        <div class="panel-body">
            <div class="row">
                <div class="center-block">
                    <div class="page-header">
                        <h1 th:text="${displayQuestionnaireVO.questionnaireTitle}" align="center">标题</h1>
                    </div>
                </div>
            </div>
            <div class="row">
                <blockquote class="blockquote-reverse">
                    <p th:if="${not #strings.isEmpty(displayQuestionnaireVO.questionnaireSubtitle)}"
                       th:text="${displayQuestionnaireVO.questionnaireSubtitle}">副标题</p><br/>
                    <p th:if="${not #strings.isEmpty(displayQuestionnaireVO.questionnaireDescription)}"
                       th:text="${displayQuestionnaireVO.questionnaireDescription}">描述信息</p>
                    <!--<footer>创建人 创建于 <cite title="Source Title">创建时间</cite></footer>-->
                </blockquote>
            </div>
            <!--问卷中详细问题信息开始-->

            <!--遍历问卷题目信息-->
            <div class="panel-group" th:if="${#lists.size(displayQuestionnaireVO.questions)>0}"
                 th:each="curQes,iterStat: ${displayQuestionnaireVO.questions}"
                 th:switch="${curQes.questionType}">
                <!--单选题模板-->
                <div class="panel-default" th:case="'单选题'">
                    <div class="panel-heading">
                        <div class="panel-title">
                            第 <span th:text="${iterStat.count}">[题号]</span> 题：
                            <span th:text="${curQes.questionContext}"></span>
                            (
                            <span th:text="${curQes.questionType}">题型</span>
                            <span th:if="${#bools.isTrue(curQes.must)}" style="color: red;">*</span>
                            )
                        </div>
                    </div>
                    <div class="panel-body">
                        <div class="form-inline">
                            <div class="form-group" th:if="${#lists.size(curQes.options)>0}"
                                 th:each="curQesOption: ${curQes.options}">
                                <input class="form-control" type="radio" th:name="${iterStat.index}"/>
                                <label th:text="${curQesOption.option}">选项</label>
                            </div>
                        </div>
                    </div>
                </div>
                <!--多选题模板-->
                <div class="panel-default" th:case="'多选题'">
                    <div class="panel-heading">
                        <div class="panel-title">
                            第 <span th:text="${iterStat.count}">[题号]</span> 题：
                            <span th:text="${curQes.questionContext}"></span>
                            (
                            <span th:text="${curQes.questionType}">题型</span>
                            <span th:if="${#bools.isTrue(curQes.must)}" style="color: red;">*</span>
                            )
                        </div>
                    </div>
                    <div class="panel-body">
                        <div class="form-inline">
                            <div class="form-group" th:if="${#lists.size(curQes.options)>0}"
                                 th:each="curQesOption: ${curQes.options}">
                                <input class="form-control" type="checkbox" th:name="${iterStat.index}"/>
                                <label th:text="${curQesOption.option}">选项</label>
                            </div>
                        </div>
                    </div>
                </div>
                <!--单项填空题模板-->
                <div class="panel-default" th:case="'单项填空题'">
                    <div class="panel-heading">
                        <div class="panel-title">
                            第 <span th:text="${iterStat.count}">[题号]</span> 题：
                            <span th:text="${curQes.questionContext}"></span>
                            (
                            <span th:text="${curQes.questionType}">题型</span>
                            <span th:if="${#bools.isTrue(curQes.must)}" style="color: red;">*</span>
                            )
                        </div>
                    </div>
                    <div class="panel-body">
                        <div class="form-group">
                            <input class="form-control" disabled/>
                        </div>
                    </div>
                </div>
                <!--多项填空题模板-->
                <div class="panel-default" th:case="'多项填空题'">
                    <div class="panel-heading">
                        <div class="panel-title">
                            第 <span th:text="${iterStat.count}">[题号]</span> 题：
                            <span th:text="${curQes.questionContext}"></span>
                            (
                            <span th:text="${curQes.questionType}">题型</span>
                            <span th:if="${#bools.isTrue(curQes.must)}" style="color: red;">*</span>
                            )
                        </div>
                    </div>
                    <div class="panel-body">
                        <div class="form-inline">
                            <div class="form-group" th:if="${#lists.size(curQes.options)>0}"
                                 th:each="curQesOption: ${curQes.options}">
                                <div style="size: auto"
                                     th:if="${curQesOption.option!=null && not #strings.isEmpty(curQesOption.option)}">
                                    <label>_______</label>
                                    <label th:text="${curQesOption.option}">问题</label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!--简答题模板-->
                <div class="panel-default" th:case="'简答题'">
                    <div class="panel-heading">
                        <div class="panel-title">
                            第 <span th:text="${iterStat.count}">[题号]</span> 题：
                            <span th:text="${curQes.questionContext}"></span>
                            (
                            <span th:text="${curQes.questionType}">题型</span>
                            <span th:if="${#bools.isTrue(curQes.must)}" style="color: red;">*</span>
                            )
                        </div>
                    </div>
                    <div class="panel-body">
                        <div class="form-group">
                            <textarea class="form-control" disabled></textarea>
                        </div>
                    </div>
                </div>
                <!--图片题模板-->
                <div class="panel-default" th:case="'图片单选题'">
                    <div class="panel-heading">
                        <div class="panel-title">
                            第 <span th:text="${iterStat.count}">[题号]</span> 题：
                            <span th:text="${curQes.questionContext}"></span>
                            (
                            <span th:text="${curQes.questionType}">题型</span>
                            <span th:if="${#bools.isTrue(curQes.must)}" style="color: red;">*</span>
                            )
                        </div>
                    </div>
                    <div class="panel-body">
                        <div class="form-group col-md-3 col-xs-3 col-sm-3" th:if="${#lists.size(curQes.options)>0}"
                             th:each="curQesOption: ${curQes.options}">
                            <input style="margin: 5% 45%; vertical-align: middle!important;border: none!important;"
                                   name="" value="0"
                                   type="radio"/>
                            <form action="#" class="dropzone">
                                <div class="dz-preview dz-processing dz-image-preview dz-success dz-complete">
                                    <div class="dz-image">
                                        <img style="width: inherit;height: inherit;"
                                             th:src="@{/fileIo/refPic(picRelativePath=${curQesOption.option})}"/>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>

                <div class="panel-default" th:case="'图片多选题'">
                    <div class="panel-heading">
                        <div class="panel-title">
                            第 <span th:text="${iterStat.count}">[题号]</span> 题：
                            <span th:text="${curQes.questionContext}"></span>
                            (
                            <span th:text="${curQes.questionType}">题型</span>
                            <span th:if="${#bools.isTrue(curQes.must)}" style="color: red;">*</span>
                            )
                        </div>
                    </div>
                    <div class="panel-body">
                        <div class="form-group col-md-3 col-xs-3 col-sm-3" th:if="${#lists.size(curQes.options)>0}"
                             th:each="curQesOption: ${curQes.options}">
                            <input style="margin: 5% 45%; vertical-align: middle!important;border: none!important;"
                                   name="" value="0"
                                   type="radio"/>
                            <form action="#" class="dropzone">
                                <div class="dz-preview dz-processing dz-image-preview dz-success dz-complete">
                                    <div class="dz-image">
                                        <img style="width: inherit;height: inherit;"
                                             th:src="@{/fileIo/refPic(picRelativePath=${curQesOption.option})}"/>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                <!--时间题模板-->
                <div class="panel-default" th:case="'时间题'">
                    <div class="panel-heading">
                        <div class="panel-title">
                            第 <span th:text="${iterStat.count}">[题号]</span> 题：
                            <span th:text="${curQes.questionContext}"></span>
                            (
                            <span th:text="${curQes.questionType}">题型</span>
                            <span th:if="${#bools.isTrue(curQes.must)}" style="color: red;">*</span>
                            )
                        </div>
                    </div>
                    <div class="panel-body">
                        <div class="form-inline">
                            <div class="form-group" th:if="${#lists.size(curQes.options)>0}"
                                 th:each="curQesOption: ${curQes.options}">
                                <input type="date" class="form-control" placeholder="点击选择时间"/>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!--打印按钮-->
    <div class="row hidden-print print-btn">
        <div class="btn-group-lg pull-right">
            <button th:disabled="${isOutOfMinIndex == true}" id="prevPaperBtn" class="btn btn-default btn-block"
                    data-toggle="tooltip" title="上一份">
                <i class="glyphicon glyphicon-chevron-up"></i>
            </button>
            <button id="printQesBtn" class="btn btn-default btn-block">打印</button>
            <button th:disabled="${isOutOfMaxIndex == true}" id="nextPaperBtn" class="btn btn-default btn-block"
                    data-toggle="tooltip" title="下一份">
                <i class="glyphicon glyphicon-chevron-down"></i>
            </button>
        </div>
    </div>
</div>

<script src="../../js/jquery.min.js"></script>
<script>
    $(function () {
        $('#printQesBtn').on('click', function () {
            window.print();
        });
        $('#prevPaperBtn').on('click', function () {
            window.location.href = '/publicTemplateManage/displayPrevQesPaper';
        });
        $('#nextPaperBtn').on('click', function () {
            window.location.href = '/publicTemplateManage/displayNextQesPaper';
        })
    });
</script>

</body>
</html>