<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>修改密码</title>
    <link th:href="@{/img/favicon.ico}"
          href="/WEB-INF/img/favicon.ico" rel="shortcut icon"/>
    <link rel="stylesheet" href="/WEB-INF/css/bootstrap.min.css"
          th:href="@{/css/bootstrap.min.css}"/>
</head>
<body class="grey-bg">
<div class="container">
    <div class="row">
        <div class="col-sm-12 col-md-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <div class="panel-title">
                        修改密码
                    </div>
                </div>
                <div class="panel-body">
                    <form id="newPasswordForm" class="form-horizontal"
                          action="/user/changPassword" method="post" th:object="${newPasswordVO}">
                        <div class="form-group">
                            <label class="col-sm-3 col-md-3 control-label">原密码：</label>
                            <div class="col-sm-5 col-md-5">
                                <input id="oldPassword" name="oldPassword" class="form-control" type="password"
                                       placeholder="请输入原密码"
                                       minlength="6" required
                                       th:field="*{oldPassword}"/>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 col-md-3 control-label">新密码：</label>
                            <div class="col-sm-5 col-md-5">
                                <input id="newPassword" name="newPassword" class="form-control" type="password"
                                       placeholder="请输入新密码"
                                       minlength="6" required th:field="*{newPassword}"/>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 col-md-3 control-label">确认密码：</label>
                            <div class="col-sm-5 col-md-5">
                                <input id="confirm_password" class="form-control" type="password"
                                       placeholder="请再次输入新密码"
                                       minlength="6" required equalTo="#newPassword"/>
                            </div>
                        </div>
                        <div class="from-group">
                            <div class="col-sm-offset-6 col-md-offset-6">
                                <button class="btn btn-link" type="reset">重置信息</button>
                                <button class="btn btn-success" type="submit">更新密码</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
</body>

<script src="/WEB-INF/js/jquery.min.js" type="text/javascript"
        th:src="@{/js/jquery.min.js}"></script>
<script src="/WEB-INF/js/plugins/validate/jquery.validate.min.js" type="text/javascript"
        th:src="@{/js/plugins/validate/jquery.validate.min.js}"></script>
<script type="text/javascript">
    $.validator.setDefaults({
        highlight: function (element) {
            $(element).closest('.form-group').removeClass('has-success').addClass('has-error');
        },
        success: function (element) {
            element.closest('.form-group').removeClass('has-error').addClass('has-success');
        },
        errorElement: "span",
        errorPlacement: function (error, element) {
            if (element.is(":radio") || element.is(":checkbox")) {
                error.appendTo(element.parent().parent().parent());
            } else {
                error.appendTo(element.parent());
            }
        },
        errorClass: "help-block m-b-none",
        validClass: "help-block m-b-none"
    });
    !function (a) {
        "function" == typeof define && define.amd ? define(["jquery", "jquery.validate.min"], a) : a(jQuery)
    }(function (a) {
        var icon = "<i class='fa fa-times-circle'></i>  ";
        a.extend(a.validator.messages, {
            required: icon + "此项必填",
            equalTo: icon + "你的前后输入不相同",
            maxlength: a.validator.format(icon + "最多 {0} 个字符"),
            minlength: a.validator.format(icon + "最少 {0} 个字符"),
            rangelength: a.validator.format(icon + "请输入长度为 {0} 至 {1} 之间的字串")
        })
    });
    $().ready(function () {
        $("#newPasswordForm").validate();
    });
</script>
</html>