<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://xmlns.jcp.org/jsf/passthrough">
<head>
    <title>登陆成功</title>
    <style>
        .border {
            top: 50px;
            border-bottom: 2px dotted grey;
        }
    </style>
</head>
<body>
<h1 align="center">登陆成功页面</h1>
<div align="center">
    欢迎你 <label th:text="${#session.getAttribute('userTel')}"></label>
    <label><a href="/user/logout">退出</a></label>

    <div class="border">
        <a href="/questionnaireManage/getCreateView">创建问卷页面</a>
    </div>
    <div class="border">
        <a href="/questionnaireManage/listMyQuestionnaire">问卷管理页面</a>
    </div>
    <div class="border">
        <a href="/user/newPasswordView">修改密码页面</a>
    </div>
    <div class="border">
        <a href="/qesTemplateManage/getQesTemplateView">问卷模板管理页面</a>
    </div>
</div>
</body>
</html>