<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://xmlns.jcp.org/jsf/passthrough">
<head>
    <title>登陆成功</title>
    <link th:href="@{/css/bootstrap.min.css}"
          href="/WEB-INF/statics/css/bootstrap.min.css" rel="stylesheet"/>
</head>
<body>
<h1 align="center">登陆成功页面</h1>
<div align="center">
    <div class="row">
        欢迎你 <label th:text="${#session.getAttribute('userTel')}"></label>
        <label><a href="/user/logout">退出</a></label>
    </div>
    <div class="row">
        <div class="btn btn-lg btn-link">
            <a href="/questionnaireManage/getCreateView">创建问卷页面</a>
        </div>
    </div>

    <div class="row">
        <div class="btn btn-lg btn-link">
            <a href="/questionnaireManage/listMyQuestionnaire">问卷管理页面</a>
        </div>
    </div>

    <div class="row">
        <div class="btn btn-lg btn-link">
            <a href="/user/newPasswordView">修改密码页面</a>
        </div>
    </div>

    <div class="row">
        <div class="btn btn-lg btn-link">
            <a href="/qesTemplateManage/getQesTemplateView">个人问卷模板管理页面</a>
        </div>
    </div>

    <div class="row">
        <div class="btn btn-lg btn-link">
            <a href="/qesTemplateManage/getPublicTemplateView">公共问卷管理页面</a>
        </div>
    </div>
</div>
</body>
</html>