<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>查看问卷</title>
    <link rel="shortcut icon" href="../../img/favicon.ico"/>
    <link rel="stylesheet" href="../../css/bootstrap.min.css">
</head>
<body>
<div class="container">
    <!--标题信息-->
    <div class="panel panel-primary">
        <div class="panel-heading">
            <div class="panel-title">
                问卷信息
            </div>
        </div>
        <div class="panel-body">
            <div class="row">
                <div class="center-block">
                    <!--<h1 align="center">问卷标题</h1>-->
                    <div class="page-header">
                        <h1 align="center">问卷标题</h1>
                    </div>
                </div>
            </div>
            <div class="row">
                <blockquote class="blockquote-reverse">
                    <p>问卷副标题</p><br/>
                    <p>问卷描述信息</p>
                    <footer>创建人 创建于 <cite title="Source Title">创建时间</cite></footer>
                </blockquote>
            </div>

            <!--问卷中详细问题信息-->
            <div class="panel-group">
                <!--单选题模板-->
                <div class="panel-default">
                    <div class="panel-heading qes-title-background-color">
                        <div class="panel-title">
                            第 1 题：(单选题*)
                        </div>
                    </div>
                    <div class="panel-body">
                        <div class="form-inline">
                            <div class="form-group">
                                <input class="form-control" type="radio" name=""/>
                                <label>答项1</label>
                            </div>

                            <div class="form-group">
                                <input class="form-control" type="radio" name=""/>
                                <label>答项2</label>
                            </div>

                            <div class="form-group">
                                <input class="form-control" type="radio" name=""/>
                                <label>答项3</label>
                            </div>

                            <div class="form-group">
                                <input class="form-control" type="radio" name=""/>
                                <label>答项411222222222222222222222222222222222222222222222222222222222222222222222222222222222222222223</label>
                            </div>

                            <div class="form-group">
                                <input class="form-control" type="radio" name=""/>
                                <label>答项411123131323131231222222222222222222222222222222222222222222222222222222222222222222222222223</label>
                            </div>

                            <div class="form-group">
                                <input class="form-control" type="radio" name=""/>
                                <label>答项411123131323131231222222222222222222222222222222222222222222222222222222222222222222222222223</label>
                            </div>
                        </div>
                    </div>
                </div>
                <!--多选题模板-->
                <div class="panel-default">
                    <div class="panel-heading">
                        <div class="panel-title">
                            第 2 题：(多选题*)
                        </div>
                    </div>
                    <div class="panel-body">
                        <div class="form-group">
                            <label class="control-label">答项信息</label>
                        </div>
                    </div>
                </div>
                <!--简答题模板-->
                <div class="panel-default">
                    <div class="panel-heading">
                        <div class="panel-title">
                            第 3 题：(简答题*)
                        </div>
                    </div>
                    <div class="panel-body">
                        <div class="form-group">
                            <label class="control-label">答项信息</label>
                        </div>
                    </div>
                </div>
                <!--单项填空题模板-->
                <div class="panel-default">
                    <div class="panel-heading">
                        <div class="panel-title">
                            第 4 题：(单项填空题*)
                        </div>
                    </div>
                    <div class="panel-body">
                        <div class="form-group">
                            <label class="control-label">答项信息</label>
                        </div>
                    </div>
                </div>
                <!--多项填空题模板-->
                <div class="panel-default">
                    <div class="panel-heading">
                        <div class="panel-title">
                            第 5 题：(多项填空题*)
                        </div>
                    </div>
                    <div class="panel-body">
                        <div class="form-group">
                            <label class="control-label">答项信息</label>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>

<script src="../../js/plugins/art-template/template-web.js"></script>
<script src="../../js/jquery.min.js"></script>

<script id="single_choice_template" type="text/html">
    <div class="panel-default">
        <div class="panel-heading qes-title-background-color">
            <div class="panel-title">
                第 {{}} 题：(单选题*)
            </div>
        </div>
        <div class="panel-body">
            <div class="form-inline">
                <div class="form-group">
                    <input class="form-control" type="radio" name=""/>
                    <label>答项1</label>
                </div>

                <div class="form-group">
                    <input class="form-control" type="radio" name=""/>
                    <label>答项2</label>
                </div>

                <div class="form-group">
                    <input class="form-control" type="radio" name=""/>
                    <label>答项3</label>
                </div>

                <div class="form-group">
                    <input class="form-control" type="radio" name=""/>
                    <label>答项411222222222222222222222222222222222222222222222222222222222222222222222222222222222222222223</label>
                </div>

                <div class="form-group">
                    <input class="form-control" type="radio" name=""/>
                    <label>答项411123131323131231222222222222222222222222222222222222222222222222222222222222222222222222223</label>
                </div>

                <div class="form-group">
                    <input class="form-control" type="radio" name=""/>
                    <label>答项411123131323131231222222222222222222222222222222222222222222222222222222222222222222222222223</label>
                </div>
            </div>
        </div>
    </div>
</script>

<script>
    //加载问卷数据，并通过模板展示数据
    $(function () {
        $.ajax({
            url: '/QesManageRest/displayQuestionnaire/' + 5,
            type: 'get',
            success: function (data) {
                console.log(data);
            },
            error: function (data) {
                console.log(data);
            }
        });
    });
</script>
</body>
</html>