<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>展示问卷</title>
    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet"/>
    <style>
        table, td {
            border: 2px double grey;
        }
    </style>
</head>
<body>
<h1 align="center">问卷信息</h1>
<div align="center">
    <table th:if="${questionnaireInfoListVO.size()>0}" class="table table-bordered">
        <thead>
        <tr>
            <td></td>
            <td>序号</td>
            <td>问卷标题</td>
            <td>问卷描述</td>
            <td>操作</td>
        </tr>
        </thead>
        <tbody>
        <tr th:each="questionnaireInfoVO : ${questionnaireInfoListVO}">
            <td><input type="checkbox"/></td>
            <td th:text="${questionnaireInfoVOStat.count}"></td>
            <td th:text="${questionnaireInfoVO.questionnaireTitle}"></td>
            <td th:text="${questionnaireInfoVO.questionnaireSubtitle}"></td>
            <td>
                <label th:if="${questionnaireInfoVO.isDone() == false}">
                    <a th:href="@{/questionnaireManage/test/{id}(id=${questionnaireInfoVO.getQuestionnaireId()})}"
                       class="btn btn-sm btn-link">编辑</a>
                </label>
                <label th:if="${questionnaireInfoVO.isDone() == true}">
                    <a th:href="@{/questionnaireManage/displayQuestionnaire/{id}(id=${questionnaireInfoVO.getQuestionnaireId()})}"
                       class="btn btn-sm btn-link">查看</a>
                </label>
                <label>
                    <a th:href="@{/questionnaireManage/delTemporaryQuestionnaire/{id}(id=${questionnaireInfoVO.getQuestionnaireId()})}"
                       class="btn btn-sm btn-link">删除</a>
                </label>
                <label th:if="${questionnaireInfoVO.isShare()==false}">
                    <a th:href="@{/questionnaireManage/shareQuestionnaire/{id}(id=${questionnaireInfoVO.getQuestionnaireId()})}"
                       class="btn btn-sm btn-link">分享</a>
                </label>
                <label th:if="${questionnaireInfoVO.isTemplate()==false}">
                    <a th:href="@{/questionnaireManage/templateQuestionnaire/{id}(id=${questionnaireInfoVO.getQuestionnaireId()})}"
                       class="btn btn-sm btn-link">模板化</a>
                </label>
            </td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>