<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>查看公告</title>
    <link rel="shortcut icon" href="/WEB-INF/img/favicon.ico"
          th:href="@{/img/favicon.ico}"/>
    <link rel="stylesheet" href="/WEB-INF/css/bootstrap.min.css"
          th:href="@{/css/bootstrap.min.css}">
    <link rel="stylesheet" href="/WEB-INF/css/plugins/bootstrap-table/bootstrap-table.min.css"
          th:href="@{/css/plugins/bootstrap-table/bootstrap-table.min.css}">
</head>
<body>
<div class="container">
    <div class="row">
        <div class="panel panel-default">
            <div class="panel-heading">
                <div class="panel-title">
                    公告信息
                </div>
            </div>
            <div class="panel-body">
                <!--toolbar-->
                <div id="tableToolbar" class="btn-group hidden-xs" role="group">
                    <button id="newNotice" type="button" class="btn btn-primary">
                        <i class="glyphicon glyphicon-plus" aria-hidden="true"> 新建公告</i>
                    </button>
                </div>
                <table id="noticeInfoTable"></table>
            </div>
        </div>
    </div>
</div>
<script src="/WEB-INF/js/jquery.min.js"
        th:src="@{/js/jquery.min.js}"></script>
<script src="/WEB-INF/js/bootstrap.min.js"
        th:src="@{/js/bootstrap.min.js}"></script>
<script src="/WEB-INF/js/plugins/bootstrap-table/bootstrap-table.min.js"
        th:src="@{/js/plugins/bootstrap-table/bootstrap-table.min.js}"></script>
<script src="/WEB-INF/js/plugins/bootstrap-table/locale/bootstrap-table-zh-CN.min.js"
        th:src="@{/js/plugins/bootstrap-table/locale/bootstrap-table-zh-CN.min.js}"></script>
<script src="../../js/plugins/layer/layer.min.js"
        th:src="@{/js/plugins/layer/layer.min.js}"></script>
<script src="../../js/myJs/responseAnalyze.js"
        th:src="@{/js/myJs/responseAnalyze.js}"></script>
<script src="../../js/myJs/myNoticeManage.js"
        th:src="@{/js/myJs/myNoticeManage.js}"></script>


</body>
</html>