<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>任务管理</title>
    <link rel="stylesheet" href="../../css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}"/>
    <link rel="stylesheet" href="../../js/plugins/bootstrap-select/css/bootstrap-select.min.css"
          th:href="@{/js/plugins/bootstrap-select/css/bootstrap-select.min.css}">
    <link rel="stylesheet" href="../../js/plugins/layui/css/layui.css" th:href="@{/js/plugins/layui/css/layui.css}">
</head>

<body>
<div class="container">
    <div class="panel">
        <div class="panel-body">
            <div class="row">
                <div class="col-md-offset-0 col-md-12">
                    <input id="launchDate" class="form-control" placeholder="调查时间修改"/>
                </div>
            </div>
            <div class="panel-body">
                <div class="col-md-offset-4">
                    <button id="resetBtn" class="btn btn-lg btn-warning">取消</button>
                    <button id="launchBtn" class="btn btn-lg btn-success">确认</button>
                </div>
            </div>
        </div>

    </div>
</div>

<script src="../../js/jquery.min.js" th:src="@{/js/jquery.min.js}"></script>
<script src="../../js/bootstrap.min.js" th:src="@{/js/bootstrap.min.js}"></script>
<script src="../../js/plugins/bootstrap-select/js/bootstrap-select.min.js"
        th:src="@{/js/plugins/bootstrap-select/js/bootstrap-select.min.js}"></script>
<script src="../../js/plugins/bootstrap-select/js/i18n/defaults-zh_CN.min.js"
        th:src="@{/js/plugins/bootstrap-select/js/i18n/defaults-zh_CN.min.js}"></script>
<script src="../../js/plugins/layer/layer.min.js"
        th:src="@{/js/plugins/layer/layer.min.js}"></script>
<script src="../../js/plugins/layui/layui.js" th:src="@{/js/plugins/layui/layui.js}"></script>
<script src="../../js/myJs/responseAnalyze.js" th:src="@{/js/myJs/responseAnalyze.js}"></script>

<script>
    $(function () {
        layui.use(['laydate'], function () {
            var laydate = layui.laydate;

            var start = {
                format: 'YYYY-MM-DD hh:mm:ss',
                min: laydate.now(),
                max: '2099-06-16 23:59:59',
                istime: true,
                isclear: true, //是否显示清空
                istoday: true, //是否显示今天
                issure: true, //是否显示确认
                festival: true, //是否显示节日
                fixed: false, //是否固定在可视区域
                zIndex: 99999999 //css z-index
            };

            document.getElementById('launchDate').onclick = function () {
                start.elem = this;
                laydate(start);
            };
        });
    });

    /*确认修改时间*/
    //    $('#launchBtn').on('click', function () {
    //        layui.use(['layer', 'laydate'], function () {
    //            var layer = layui.layer;
    //            var laydate = layui.laydate;
    //
    //            var launchDate = $('#launchDate').val();
    //            if (launchDate.match(/^\s*$/)) {
    //                layer.confirm('未设置时间，是否修改时间为现在时刻？', {
    //                    icon: 3,
    //                    btn: ['确定', '返回']
    //                }, function (index) {
    //                    console.log(launchDate);
    //                    submitJsonData(laydate.now());
    //                    layer.close(index);
    //                }, function (index) {
    //                    layer.close(index);
    //                });
    //            } else {
    //                console.log(launchDate);
    //                submitJsonData(launchDate);
    //            }
    //        });
    //    });
    //
    //    function submitJsonData(launchDate) {
    //        var missionVO = {};
    //        missionVO.missionFinalDate = launchDate;
    //        var url = '/researchManage/changeFinalTime';
    //        accessServerByJson(url, missionVO);
    //    }

    //    /*确认修改*/
    $('#launchBtn').on('click', function () {
        var missionVO = {};
        //获取修改的时间
        var launchDate = $('#launchDate').val();
        missionVO.missionFinalDate = launchDate;

        var updateFinalTime = '/researchManage/changeFinalTime';
        layui.use('layer', function () {
            var layer = layui.layer;
            $.ajax({
                url: updateFinalTime,
                contentType: "application/json;charset=utf-8",
                type: 'post',
                dataType: 'json',
                data: JSON.stringify(missionVO),
                success: function (data) {
                    if (200 === data.code) {
                        layer.msg('操作成功，1秒后关闭窗口...', {
                            icon: 1,
                            time: 1000 //1秒关闭（如果不配置，默认是3秒）
                        }, function () {
                            //修改数据成功后、刷新父页面中table数据
                            parent.refreshTable();
                            closeLayer();
                        });
                    }
                    dealGlobalError(data);
                },
                error: function (data) {
                    layer.msg('出现错误了，刷新试试！');
                    console.error(data);
                }
            });
        });
    });
    /*取消按钮*/
    $('#resetBtn').on('click', function () {
        layui.use('layer', function () {
            var index = parent.layer.getFrameIndex(window.name); //先得到当前iframe层的索引
            parent.layer.close(index); //再执行关闭
        });

    });
    /**
     * 关闭 layer 层
     */
    function closeLayer() {
        var index = parent.layer.getFrameIndex(window.name); //先得到当前iframe层的索引
        parent.layer.close(index); //再执行关闭
    }
</script>
</body>

</html>