<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>任务管理</title>
    <link rel="shortcut icon" href="../../img/favicon.ico"/>
    <link rel="stylesheet" href="../../css/bootstrap.min.css">
    <link rel="stylesheet" href="../../css/plugins/bootstrap-table/bootstrap-table.min.css">
</head>

<body>
<div class="container">
    <div class="row">
        <div class="panel panel-default">
            <div class="panel-heading">
                <div class="panel-title">
                    任务管理
                </div>
            </div>
            <div class="panel-body">
                <table id="missionManageTable"></table>
            </div>
        </div>
    </div>
</div>
<script src="../../js/jquery.min.js"></script>
<script src="../../js/bootstrap.min.js"></script>
<script src="../../js/plugins/bootstrap-table/bootstrap-table.min.js"></script>
<script src="../../js/plugins/bootstrap-table/locale/bootstrap-table-zh-CN.min.js"></script>
<script src="../../js/plugins/layer/layer.min.js"></script>
<script src="../../js/myJs/responseAnalyze.js"></script>
<script src="../../js/myJs/missionManage.js"></script>
</body>

</html>