<!DOCTYPE html>
<html >

	<head>
		<meta charset="UTF-8">
		<title>人员管理-编辑</title>
		<link rel="shortcut icon" href="../../img/favicon.ico" />
		<link rel="stylesheet" href="../../css/bootstrap.min.css" />
		<link rel="stylesheet" href="../../js/plugins/bootstrap-select/css/bootstrap-select.min.css">
		<link rel="stylesheet" href="../../js/plugins/layui/css/layui.css">
		<style>
			.col-xs-2 {
				text-align: center;
			}
			
			.col-xs-4 {
				text-align: center;
			}
			
			.container {
				padding-right: 5px;
				padding-left: 5px;
				margin-right: auto;
				margin-left: auto
			}
		</style>
	</head>

	<body>
		<div class="container">
			<div class="panel">
				<div class="panel-body">
					<div class="form-group">
						<div class="row">
							<div class="col-md-offset-0 col-md-12">
								<div class="row">
									<div class="col-sm-12">
										<div class="row">
											<div class="control-label col-xs-2">姓名：</div>
											<div class="col-xs-9">
												<input id='name' class="form-control" placeholder="请填写姓名" />
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="form-group">
						<div class="row">
							<div class="col-md-offset-0 col-md-12">
								<div class="row">
									<div class="col-sm-12">
										<div class="row">
											<div class="control-label col-xs-2">角色选择：</div>
											<div class="col-xs-9">
												<select id='role' class="form-control" multiple> </select>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>

					<div class="panel-body">
                    	<div class="layui-form-item col-md-offset-1">
						    <div class="layui-input-block">
						    	
								<button id="launchMissionBtn" class="btn btn-lg btn-success">确认</button>
								<button id="resetBtn" class="btn btn-lg btn-warning">取消</button>
						      
						    </div>
					  	</div>
                	</div>
					
				</div>

			</div>
		</div>
		</div>

		<script src="../../js/jquery.min.js"></script>
		<script src="../../js/bootstrap.min.js"></script>
		<script src="../../js/plugins/bootstrap-select/js/bootstrap-select.min.js"></script>
		<script src="../../js/plugins/bootstrap-select/js/i18n/defaults-zh_CN.min.js"></script>

		<script src="../../js/plugins/layui/layui.js"></script>
		<script src="../../js/myJs/responseAnalyze.js"></script>

		<script>
			$(function() {
				var unitOptions = '';
				var $researchUnit = $('#researchUnit');
				$.ajax({
					url: '',
					type: 'post',
					dataType: 'json',
					traditional: true,
					success: function(data) {
						for(var index = 0; index < data.length; index++) {
							unitOptions += '<option title="' + data[index].unitName + '" ' +
								'value="' + data[index].unitId + '">' + data[index].unitName +
								'·························' +
								data[index].unitProvince + ' - ' + data[index].unitCity + '</option>';
						}
						$($researchUnit).append(unitOptions);
						$($researchUnit).selectpicker({
								multipleSeparator: ' || ',
								actionsBox: true,
								liveSearch: true,
								noneSelectedText: '未选择角色',
								selectAllText: '全部角色',
								liveSearchPlaceholder: '查询角色',
								deselectAllText: '重新选择',
								selectedTextFormat: 'count > 15',
								countSelectedText: function() {
									return '选中了  {0}   个角色   (单位总数 {1})';
								}
							},
							'refresh', 'render'
						);
					},
					error: function(data) {
						console.log(data);
					}
				});
				

			});
			/*提交数据*/
			$('#launchMissionBtn').on('click', function() {
				//获取选中的单位ID
				var unitIds = [];
				$('#researchUnit').find('option:selected').each(function() {
					unitIds.push($(this).val());
				});

				var missionDescription = $('#missionDescription').val();
				var startDate = $('#begindate').val();
				var endDate = $('#enddate').val();
				//获取选中的问卷ID
				var qesItemInfoArray = [];
				var qesItem = {};
				$('select[name="questionnaireSelect"]').find('option:selected').each(function() {
					qesItem.questionnaireId = ($(this).val());
					qesItem.minSubmit = ($(this).closest('div[class="col-md-offset-1 col-md-12"]').find('input[name="minSubmit"]').val());
					qesItemInfoArray.push(qesItem);
				});

				layui.use('layer', function() {
					var layer = layui.layer;
					//校验调查单位数量不能少于一个
					if(unitIds.length <= 0) {
						layer.msg('角色还未选择！', function() {});
						return;
					}
					
					
				});
			});

			/*取消按钮*/
			$('#resetBtn').on('click', function() {
				layui.use('layer', function() {
					var layer = layui.layer;
					var index = parent.layer.getFrameIndex(window.name); //先得到当前iframe层的索引
					parent.layer.close(index); //再执行关闭   
				});

			});
		</script>
	</body>

</html>