<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>展示答卷详细信息视图</title>
    <link th:href="@{/css/bootstap.min.css}" rel="stylesheet"/>
</head>
<body>
<h1 align="center">答卷详细信息</h1>
<div align="center">
    <div th:if="${DisplayAnswerPaperVO!=null}"
         class="table table-bordered">
        <div><label th:text="${'答卷id:'+DisplayAnswerPaperVO.answerPaperId}"></label></div>
        <div><label th:text="${'问卷标题:'+DisplayAnswerPaperVO.questionnaireTitle}"></label></div>
        <div><label th:text="${'问卷副标题:'+DisplayAnswerPaperVO.questionnaireSubtitle}"></label></div>
        <div><label th:text="${'问卷描述:'+DisplayAnswerPaperVO.questionnaireDescription}"></label></div>
        <div><label th:text="${'答卷经度:'+DisplayAnswerPaperVO.longitude}"></label></div>
        <div><label th:text="${'答卷纬度:'+DisplayAnswerPaperVO.latitude}"></label></div>
        <div th:if="${DisplayAnswerPaperVO.answerQuestions.size()>0}">
            <div th:each="question : ${DisplayAnswerPaperVO.answerQuestions}">
                <label th:text="${questionStat.count}"></label>
                <label th:text="${'问题内容:'+question.questionContext}"></label><br/>
                <label th:text="${'问题描述:'+question.questionDescription}"></label><br/>
                <label th:text="${'是否必做:'+question.must}"></label><br/>
                <label th:text="${'问题类型:'+question.questionType}"></label><br/>
                <label th:text="${'答案:'+question.answerDetail}"></label><br/>
            </div>
        </div>
    </div>
</div>
</body>
</html>