<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<title></title>
		<title>原始数据_two</title>
		<link rel="shortcut icon" href="../../img/favicon.ico" />
		<link rel="stylesheet" href="../../css/bootstrap.min.css">
		<link rel="stylesheet" href="../../css/plugins/bootstrap-table/bootstrap-table.min.css">
		<link rel="stylesheet" type="text/css" href="../../js/plugins/layui/css/layui.css" />

	</head>

	<body>

		<div class="layui-collapse" lay-accordion lay-filter="test">
			<div class="layui-colla-item">
				<h2 class="layui-colla-title">杜甫</h2>
				<div class="layui-colla-content layui-show">
					<table id="primaryData_twoTable"></table>
				</div>
			</div>
			<div class="layui-colla-item">
				<h2 class="layui-colla-title">李清照</h2>
				<div class="layui-colla-content layui-show">内容区域</div>
			</div>
			<div class="layui-colla-item">
				<h2 class="layui-colla-title">鲁迅</h2>
				<div class="layui-colla-content layui-show">内容区域</div>
			</div>
		</div>

		<script src="../../js/jquery.min.js" th:src="@{/js/jquery.min.js}"></script>
		<script src="../../js/bootstrap.min.js" th:src="@{/js/bootstrap.min.js}"></script>
		<script src="../../js/plugins/bootstrap-table/bootstrap-table.min.js"></script>
		<script src="../../js/plugins/bootstrap-table/locale/bootstrap-table-zh-CN.min.js"></script>
		<script src="../../js/plugins/layui/layui.js"></script>

		<script src="../../js/plugins/layer/layer.min.js"></script>
		<script src="../../js/myJs/responseAnalyze.js"></script>
		
		<script src="../../js/myJs/primaryData_two.js"></script>
		<script>
			//注意：折叠面板 依赖 element 模块，否则无法进行功能性操作
			layui.use('element', function() {
				var element = layui.element();

				element.on('collapse(test)', function(data) {
					console.log(data.show); //得到当前面板的展开状态，true或者false
					console.log(data.title); //得到当前点击面板的标题区域DOM对象
					console.log(data.content); //得到当前点击面板的内容区域DOM对象
				});

			});
		</script>
	</body>

</html>