<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.questionnaire.ssm.module.notice.mapper.NoticeManageMapper">
    <select id="listNoticeByUserTel" parameterType="String"
            resultType="com.questionnaire.ssm.module.notice.pojo.ListNoticeDTO">
        SELECT
        n.notice_id AS noticeId,
        n.notice_title AS noticeTitle,
        n.notice_context AS noticeContext,
        DATE_FORMAT(
        n.notice_create_time,
        '%Y-%m-%d %H:%i:%s'
        ) AS noticeCreateTime,
        CASE n.notice_launch_time &lt;= NOW()
        WHEN TRUE THEN
        DATE_FORMAT(
        n.notice_launch_time,
        '%Y-%m-%d %H:%i:%s'
        )
        WHEN FALSE THEN
        DATE_FORMAT(
        n.notice_launch_time,
        '%Y-%m-%d %H:%i:%s'
        )
        END AS noticeLaunchDate,
        n.notice_unit_text AS noticeUnitText
        FROM
        notice AS n
        WHERE
        n.user_tel = #{userTel}
    </select>
</mapper>