<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.questionnaire.ssm.module.notice.mapper.NoticeMapper" >
  <resultMap id="BaseResultMap" type="com.questionnaire.ssm.module.notice.pojo.Notice" >
    <id column="notice_id" property="noticeId" jdbcType="BIGINT" />
    <result column="notice_title" property="noticeTitle" jdbcType="VARCHAR" />
    <result column="last_date" property="lastDate" jdbcType="TIMESTAMP" />
  </resultMap>

  <resultMap id="ResultMapWithBLOBs" type="com.questionnaire.ssm.module.notice.pojo.Notice" extends="BaseResultMap" >
    <result column="notice_context" property="noticeContext" jdbcType="LONGVARCHAR" />
  </resultMap>

  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>

  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>

  <sql id="Base_Column_List" >
    notice_id, notice_title, last_date
  </sql>

  <sql id="Blob_Column_List" >
    notice_context
  </sql>

  <select id="selectByExampleWithBLOBs" resultMap="ResultMapWithBLOBs" parameterType="com.questionnaire.ssm.module.generated.pojo.NoticeExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from notice
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>

  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.questionnaire.ssm.module.generated.pojo.NoticeExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from notice
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>

  <select id="selectByPrimaryKey" resultMap="ResultMapWithBLOBs" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from notice
    where notice_id = #{noticeId,jdbcType=BIGINT}
  </select>

  <select id="selectAll" resultMap="ResultMapWithBLOBs">
    SELECT *
    from notice
  </select>

  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from notice
    where notice_id = #{noticeId,jdbcType=BIGINT}
  </delete>

  <delete id="deleteByExample" parameterType="com.questionnaire.ssm.module.generated.pojo.NoticeExample" >
    delete from notice
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>

  <insert id="insert" parameterType="com.questionnaire.ssm.module.notice.pojo.Notice" >
    <selectKey resultType="java.lang.Long" keyProperty="noticeId" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into notice (notice_title, last_date, notice_context
      )
    values (#{noticeTitle,jdbcType=VARCHAR}, #{lastDate,jdbcType=TIMESTAMP}, #{noticeContext,jdbcType=LONGVARCHAR}
      )
  </insert>

  <insert id="insertSelective" parameterType="com.questionnaire.ssm.module.notice.pojo.Notice" >
    <selectKey resultType="java.lang.Long" keyProperty="noticeId" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into notice
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="noticeTitle != null" >
        notice_title,
      </if>
      <if test="lastDate != null" >
        last_date,
      </if>
      <if test="noticeContext != null" >
        notice_context,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="noticeTitle != null" >
        #{noticeTitle,jdbcType=VARCHAR},
      </if>
      <if test="lastDate != null" >
        #{lastDate,jdbcType=TIMESTAMP},
      </if>
      <if test="noticeContext != null" >
        #{noticeContext,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>

  <select id="countByExample" parameterType="com.questionnaire.ssm.module.generated.pojo.NoticeExample" resultType="java.lang.Integer" >
    select count(*) from notice
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>

  <update id="updateByExampleSelective" parameterType="map" >
    update notice
    <set >
      <if test="record.noticeId != null" >
        notice_id = #{record.noticeId,jdbcType=BIGINT},
      </if>
      <if test="record.noticeTitle != null" >
        notice_title = #{record.noticeTitle,jdbcType=VARCHAR},
      </if>
      <if test="record.lastDate != null" >
        last_date = #{record.lastDate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.noticeContext != null" >
        notice_context = #{record.noticeContext,jdbcType=LONGVARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>

  <update id="updateByExampleWithBLOBs" parameterType="map" >
    update notice
    set notice_id = #{record.noticeId,jdbcType=BIGINT},
      notice_title = #{record.noticeTitle,jdbcType=VARCHAR},
      last_date = #{record.lastDate,jdbcType=TIMESTAMP},
      notice_context = #{record.noticeContext,jdbcType=LONGVARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>

  <update id="updateByExample" parameterType="map" >
    update notice
    set notice_id = #{record.noticeId,jdbcType=BIGINT},
      notice_title = #{record.noticeTitle,jdbcType=VARCHAR},
      last_date = #{record.lastDate,jdbcType=TIMESTAMP}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>

  <update id="updateByPrimaryKeySelective" parameterType="com.questionnaire.ssm.module.notice.pojo.Notice" >
    update notice
    <set >
      <if test="noticeTitle != null" >
        notice_title = #{noticeTitle,jdbcType=VARCHAR},
      </if>
      <if test="lastDate != null" >
        last_date = #{lastDate,jdbcType=TIMESTAMP},
      </if>
      <if test="noticeContext != null" >
        notice_context = #{noticeContext,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where notice_id = #{noticeId,jdbcType=BIGINT}
  </update>

  <update id="updateByPrimaryKeyWithBLOBs" parameterType="com.questionnaire.ssm.module.notice.pojo.Notice" >
    update notice
    set notice_title = #{noticeTitle,jdbcType=VARCHAR},
      last_date = #{lastDate,jdbcType=TIMESTAMP},
      notice_context = #{noticeContext,jdbcType=LONGVARCHAR}
    where notice_id = #{noticeId,jdbcType=BIGINT}
  </update>

  <update id="updateByPrimaryKey" parameterType="com.questionnaire.ssm.module.notice.pojo.Notice" >
    update notice
    set notice_title = #{noticeTitle,jdbcType=VARCHAR},
      last_date = #{lastDate,jdbcType=TIMESTAMP}
    where notice_id = #{noticeId,jdbcType=BIGINT}
  </update>

</mapper>